.myGoods{
    width: 1200px;
    margin: 0 auto;
    .top_page{
        overflow: hidden;
        padding-top: 20px;
        .href{
            float: left;
            margin-right: 15px;
            a{
                display: inline-block;
            }
            .toindex{
                width: 40px;
                height: 28px;
                background: url(../img/logo01.png) no-repeat bottom;
                margin-right: 8px;
            }
            .tocart{
                width: 73px;
                height: 40px;
                background: url(../img/logo02.png) no-repeat 0 15px;
            }
        }
        .btn_right{
            float: right;
            width: 250px;
            height: 20px;
            padding: 5px 5px;
            background-color: #fff;
            border: 1px solid #999;
            border-radius: 5px;
            margin-right: 10px;
            margin-top: 12px;
            input{
                width: 230px;
                height: 20px;
                line-height: 20px;
                font-size: 12px;
                color: #666;
                border: none;
                outline: none;
                vertical-align: middle;
                text-indent: 5px;
            }
            button{
                width: 20px;
                height: 20px;
                border: none;
                outline: none;
                vertical-align: middle;
                cursor: pointer;
                background-color: #fff;
                .iconfont{
                    font-size: 20px;
                    color: #666;
                }
            }
        }
    }
    .param{
        width: 1200px;
        margin-top: 20px;
        .param_top{
            width: 1138px;
            height: 40px;
            padding: 0 30px;
            border: 1px solid #999;
            border-radius: 5px;
            font-size: 12px;
            line-height: 40px;
            background-color: #fff;
            span{
                display: inline-block;
                height: 40px;
            }
            span:nth-child(1){
                width: 188px;
                input{
                    vertical-align: middle;
                    width: 16px;
                    height: 16px;
                    margin-right: 50px;
                }
            }
            span:nth-child(2){
                width: 48px;
            }
            span:nth-child(3){
                width: 400px;
                text-align: right;
            }
            span:nth-child(4){
                width: 250px;
                text-align: center;
            }
            span:nth-child(5){
                width: 75px;
                padding-right: 60px;
                text-align: right;
            }
            span:nth-child(6){
                width: 80px;
                text-align: center;
            }
        }
        .goods_content{
            width: 1198px;
            border: 1px solid #999;
            border-radius:5px;
            margin-top: 20px;
            background-color: #fff; 
            ul{
                width: 1138px;
                padding: 0 30px 10px;
                li{
                    width: 1140px;
                    height: 75px;
                    padding: 36px 0;
                    border-bottom:1px dashed #999;
                    line-height: 152px;
                    background-color: #fff;
                    &:hover{
                        background-color: #fff7f7;
                    }
                    .check{
                        display: block;
                        float: left;
                        width: 16px;
                        height: 16px;
                        margin:29.5px 30px 0 0;
                    }
                    .show{
                        display:block;
                        float: left;
                        width: 75px;
                        height: 75px;
                        img{
                            display: block;
                            width: 75px;
                            height: 75px;
                        }
                    }
                    .pro_title{
                        display:block;
                        float: left;
                        width: 260px;
                        height: 40px;
                        padding-left: 20px;
                        font-size: 12px;
                        line-height: 20px;
                        color: #666;
                        margin:17.5px 150px 17.5px 50px; 
                    }
                    p{
                        font-size: 14px;
                        line-height: 75px;
                        float: left;
                        margin-right: 100px;
                    }
                    .mol{
                        width: 80px;
                        height: 18px;
                        font-size: 12px;
                        padding: 2px 0;
                        margin-top: 27.5px;
                        margin-right: 100px;
                        float: left;
                        line-height: 18px;
                        text-align: center;
                        border: 1px solid #666;
                        a{
                            display:inline-block;
                            width: 20px;
                            height: 18px;
                            color: #333;
                        }
                        .pro_num{
                            display: inline-block;
                            width:30px;
                            height: 18px;
                            border: none;
                            outline: none;
                            color: #333;
                            border-left: 1px solid #999;
                            border-right: 1px solid #999;
                            text-align: center;
                        }
                    }
                    .delet{
                        display: block;
                        float: left;
                        width: 20px;
                        height: 20px;
                        margin-top:27.5px; 
                        img{
                            display: block;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
            .total{
                width: 1140px;
                background-color: #fefcfc;
                font-size: 14px;
                height: 50px;
                line-height: 50px;
                text-align: right;
                span{
                    color: #ff4040;
                    font-weight: 700;
                }
            }
        }
    }
}

.kc_bg{
    width: 100%;
    background-color: #fff;
    margin-top: 30px;
    font-size: 16px;
    line-height: 60px;
    .keep_change{
        width: 1140px;
        height: 60px;
        padding: 0 30px;
        margin: 0 auto;
        .kc_left{
            width: 570px;
            height: 60px;
            float: left;
            .kc_check{
                width: 16px;
                height: 16px;
                margin-right: 10px;
                vertical-align: middle;
            }
            b{
                color: #ff4040;
            }
            span{
                color: #999;
                padding: 20px;
            }
            a{
                color: #999;
                padding: 10px;
            }
        }
        .kc_right{
            width: 570px;
            height: 60px;
            float: right;
            text-align: right;
            b{
                color: #ff4040;
            }
            span{
                padding: 0 15px;
            }
            .caa{
                display: inline-block;
                width: 100px;
                height: 60px;
                text-align: center;
                color: #fff;
                font-weight: 700;
                font-size: 17px;
                background-color: #ff4040;
                margin-left: 20px;
            }
        }
    }
}
.record{
    width: 1200px;
    margin: 30px auto 0;
    h4{
        height:40px;
        text-align: center;
        color: #ff9841;
        font-size: 16px;
        line-height: 40px;
    }
    p{
        text-align: center;
        font-size: 12px;
        color: #999;
        line-height: 12px;
        padding-bottom: 15px;
    }
    .list{
        width: 1040px;
        padding: 30px 80px;
        position: relative;
        background-color: #fff;
        overflow: hidden;
        .btn_demo_btn{
            display: block;
            width: 24px;
            height: 40px;
            font-size: 24px;
            background: rgba(255,255,255,.2);
            color: #666;
            line-height: 40px;
            border-radius: 5px;
            .iconfont{
                font-size: 24px;
                &:hover{
                    color: #333;
                }
            }
        }
        .move_btn1{
            position: absolute;
            left: 30px;
            top: 250px;
        }
        .move_btn2{
            position: absolute;
            right: 30px;
            top: 250px;
        }
        .bth{
            width: 1040px;
            overflow: hidden;
            ul{
                position: relative;
                overflow: hidden;
                width: 4160px;
                li{
                    width: 150px;
                    padding:0 29px;
                    float: left;
                    .pro{
                        width: 150px;
                        img{
                            display: block;
                            width:150px ;
                            height: 150px;
                        }
                        h3{
                            font-size: 14px;
                            color: #f60;
                            text-align: center;
                            margin: 15px 0;
                        }
                        p{
                            height: 22px;
                            width: 150px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-align: center;
                            a{
                                color: #333;
                                &:hover{
                                    color:#f60;
                                }
                            }
                        }
                    }
                }
            }   
        }
        .peas{
            width: 1040px;
            height: 20px;
            text-align: center;
            span{
                display: inline-block;
                margin: 5px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #e5e5e5;
                cursor: pointer;
                transition: all 0.4s;
            }
            .cur{
                width: 18px;
                background-color: #ff5e5e;
                border-radius: 5px;
            }
        }
    }
}